* {
    -fx-background-color: transparent;
    -sheet-background-color: #303030;
    -menu-background-color: #505050;
    -border-color: #202020;
    -font-default-color: #cccccc;
    -font-focused-color: #eeeeee;
}


#view{
    -fx-background-color:  derive(-font-default-color, 0%);
}
#top-bar{
    -fx-background-color:  derive(-menu-background-color, -20%);
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: derive(-border-color, -5%);
    -fx-padding: 0 0 2 0;
    -fx-border-width: 1;
    -fx-pref-height: 30;
}
#drop-down{
    -fx-background-color: derive(-menu-background-color, -10%);
    -fx-pref-height: 30;
}

#drop-down .label{
    -fx-text-fill: derive(-font-default-color, 0%);
    -fx-font-size: 14;
}
#drop-down .context-menu{
    -fx-padding: 0;
}
#drop-down-item{
    -fx-background-color: derive(-menu-background-color, 20%);
    -fx-pref-height: 30;
}
#drop-down .menu-item:focused{
    -fx-background-color: derive(-menu-background-color, 30%);
}
#drop-down-item .label{
    -fx-text-fill: derive(-font-default-color, 0%);
    -fx-font-size: 13;
}
#top-bar-button{
    -fx-background-color: derive(-menu-background-color, -10%);
    -fx-pref-width: 50;
    -fx-pref-height: 30;
    -fx-font-size: 13;
    -fx-text-fill: derive(-font-default-color, 0%);
}
#top-bar-button:hover{
     -fx-background-color: derive(-menu-background-color, 10%);
 }




#side-bar{
    -fx-background-color:  derive(-menu-background-color, 0%);
    -fx-pref-width: 240;
    -fx-min-width: 20;
    -fx-max-width: 1500;
}

#sheet{
    -fx-background-color: derive(-sheet-background-color, 0%);
    -fx-border-style: hidden solid hidden solid;
    -fx-border-color: derive(-border-color, 0%);
    -fx-border-width: 1;
}
#handle{
    -fx-background-color: rgba(52,52,52,0.02);
    -fx-pref-width: 4;
}
#handle:hover{
    -fx-background-color: #737373;
    -fx-pref-width: 4;
}
#collection{
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;

}
#collection-flow{
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
    -fx-background-color: derive(-menu-background-color, -30%);
}
#folding-view{
    -fx-fit-to-width: true;
    -fx-border-color: derive(-menu-background-color, 0%);
    -fx-border-width: 1;
}
#folding-view-inner{
    -fx-fit-to-width: true;
    -fx-padding: 5 0 5 20;
    -fx-background-color: derive(-menu-background-color, -40%);
    -fx-spacing: 5;

}
#folding-view-button{
    -fx-padding: 4 10 4 10;
    -fx-border-radius: 0;
    -fx-border-width: 1;
    -fx-border-color: derive(-menu-background-color, -10%);
    -fx-background-color: derive(-menu-background-color, -10%);
}
#folding-view-button:hover{
    -fx-border-color: derive(-menu-background-color, 10%);
    -fx-background-color: derive(-menu-background-color, 10%);
}
#folding-view-file{
    -fx-fit-to-width: true;
    -fx-background-color: derive(-menu-background-color, -40%);
}
#folding-view-file:hover{
    -fx-background-color: derive(-menu-background-color, -20%)
}
#folding-view-label{
    -fx-fit-to-width: true;
    -fx-font-size: 14;
    -fx-text-fill: derive(-font-default-color, 0%);
}

