root {
    --sheet-background-color: #505050;
    --menu-background-color: #404040;
    --border-color: #202020;
    --font-default-color: #cccccc;
    --font-focused-color: #eeeeee;
}


#view{
    -fx-background-color:  var(--sheet-background-color);
}
#top-bar{
    -fx-background-color:  var(--menu-background-color);
    -fx-border-color: var(--border-color);
    -fx-border-width: 2;
    -fx-pref-height: 120;
}
#side-bar{
    -fx-background-color:  var(--menu-background-color);
    -fx-border-color: var(--border-color);
    -fx-border-width: 2;
    -fx-pref-width: 240;
}
#drop-down{

}
